@import "../../../styles/global_vars.scss";

.landingSection {
  padding: 10% 0;
  background-image: url("../../../public/assets/test.jpg");
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);

  .containerFluid {
    margin: auto 10%;

    .landingContent {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      .landingTitle {
        color: $text-color-light;
        font-family: "Poppins", serif;
        font-size: $header-three-size;
        letter-spacing: $header-three-letter-spacing;
        font-weight: $header-three-weight;
      }

      .landingSubtitle {
        color: $title-color-light;
        font-family: "Roboto", serif;
        font-size: $header-four-size;
        font-weight: $header-four-weight;
        letter-spacing: $header-four-letter-spacing;
      }
    }
  }
}
