@import '../../../styles/global_vars.scss';

.appHeader {
  padding: 20px 0;
  width: 100%;

  .appHeaderContainer {
    width: 265px;
    text-align: center;
    margin: auto;

    .appTitle {
      margin: 0;
      padding: 0;
      font-family: "Poppins", serif;
      font-size: $header-four-size;
      font-weight: $header-four-weight;
      letter-spacing: $header-four-letter-spacing;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }

    .appSubtitle {
      margin: 0;
      font-family: "Poppins";
      font-size: $header-six-size;
      font-weight: $header-six-weight;
      letter-spacing: $header-six-letter-spacing;
      font-weight: 500;
    }
  }
}
